.main-title-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.title-left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-left-side > h1{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}
.title-left-side > span{
    font-size: 15px;
    margin-left: 20px;
    color: #9e9e9e;
    vertical-align: middle;
}

.title-right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-right-side > .btn-add, .title-right-side > .btn-export{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: 0.3s ease-in-out;
}

.title-right-side > .btn-add > i , .title-right-side > .btn-export > i{
    padding-right: 10px;
}

.title-right-side > .btn-add{
    background-color: #4CAF50;
}

.title-right-side > .btn-export{
    background-color: #2196F3;
    
}

.title-right-side > .btn-add:hover, .title-right-side > .btn-export:hover{
    opacity: 0.8;
}



table.funcionario_table_row{
    border-spacing: 0px;
    width: 100%; 
    margin-top:50px;
}

table.funcionario_table_row > .tablehead-funcionarios{
    color: #9e9e9e;
    font-size: 15px;
    font-weight: normal;
    padding: 20px;
    text-align: left;
}

table.funcionario_table_row > .tablebody-funcionarios{
    background-color: #f3f5fb;
    
}

table.funcionario_table_row > .tablebody-funcionarios > tr {
    border-bottom: 2px solid #e4e9f7;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

table.funcionario_table_row > .tablebody-funcionarios > tr:hover{
    background-color: #fff;
}

table.funcionario_table_row th{
    text-align: left;
    font-size: 14px;
    padding: 20px;
    font-weight: normal;
    color: #9e9e9e;
}

.table-col-userRole > p {
    color: #9e9e9e;
    text-transform: capitalize;
}

.funcionario_table_row td{
    text-align: left;
    font-size: 14px;
    padding: 20px;
    min-width: 100px;
}

.image-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-text-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.image-text-name > .email{
    font-size: 12px;
    color: #9e9e9e;
}

.image-text-name > .name{
    font-size: 15px;
    color: #3c3c3c;
}

.image-text > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;

}

.table-td-actions i{
    color: #bfcad6;
    padding: 10px;
    font-size: 17px;
    margin: 0px 2px;
    border-radius: 50px;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}



.table-td-actions i:hover{
    background-color: #e4e9f7;
    color: #695cfe;
}

.table-td-actions  > .info:hover{
    color: #f78e10;
}

.table-td-actions  > .excluir:hover{
    color: #ff0000;
}

@media screen and (max-width: 768px) {
    .funcionario_table_row td{
        text-align: left;
        font-size: 15px;
        min-width: 200px;
    }
    .funcionario_table_row{
        overflow-x:scroll;
        overflow-y: hidden;
        display: block;
    }
    .main-title-page{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0px;
    }
    .title-left-side{
        margin-bottom: 20px;
    }
    
}

.dialog-box{
    width: auto;
}


.dialog-box form.form-edit-funcionario{
    width: 100%;
    padding: 0 20px;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-alone{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider > .form-edit-funcionario-group{
    width: 48%;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-alone{
    width: 100%;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider > .form-edit-funcionario-group > label,
.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-alone > label{
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #9e9e9e;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider > .form-edit-funcionario-group > label > i,
.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-alone > label > i{
    font-size: 13px;
    margin-right: 5px;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider > .form-edit-funcionario-group > input,
.dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider > .form-edit-funcionario-group > select,
.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-alone > input{
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e9f7;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 15px;
    color: #3c3c3c;
}   

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button > .form-edit-funcionario-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-startr;
    align-items: center;
    margin: 10px 0px;
}


.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button > .form-edit-funcionario-buttons > button{
    min-width: 200px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button {
    width: 100%;
    margin:0;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button > .form-edit-funcionario-buttons > .btn-download{
    margin: 0 5px;
    min-width: 50px;
    background-color: #f78e10;
}
.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button > .form-edit-funcionario-buttons > .btn-cancelar{
    min-width: 50px;
    background-color: #ff0000;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button > .form-edit-funcionario-buttons > .btn-save{
    margin: 0 5px 0 0;
    background-color: #4CAF50;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button > .form-edit-funcionario-buttons > .btn-save > i{
    padding-right: 10px;
}

.dialog-box form.form-edit-funcionario > .form-edit-funcionario-group-button > .form-edit-funcionario-buttons > button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .dialog-box{
        width: 90%;
    }
    .dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .dialog-box form.form-edit-funcionario > .form-edit-funcionario-divider > .form-edit-funcionario-group{
        width: 100%
    }
}

.dialog-box-info{
    width: 50%;
}

.dialog-box-info  .dialog-box-info-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dialog-box-info  .dialog-box-info-group > .dialog-box-info-group-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 15px 0;
    border-bottom: 1px solid #e4e9f7;
}

.dialog-box-info  .dialog-box-info-group > .dialog-box-info-group-item > .dialog-box-info-group-item-value{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.dialog-box-info  .dialog-box-info-group > .dialog-box-info-group-item > .dialog-box-info-group-item-title{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: #9e9e9e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dialog-box-info  .dialog-box-info-group > .dialog-box-info-group-item > .dialog-box-info-group-item-title > i{
    font-size: 13px;
    padding-right: 5px;
    color: #9e9e9e;
}

@media screen and (max-width: 768px) {
    .dialog-box-info{
        width: 80%;
    }
}

 