@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --color-primary: #695cfe;
  --text-color: #707070;
}

body{
  background-color: var(--body-color);
  min-height: 100vh;
}

body.dark{
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --text-color: #ccc;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

table{
  border-collapse: collapse; 
}

.page-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page-title > .title-left-side{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-title > .title-right-side{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button{
  width: auto;
  padding: 10px 20px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 2px;

  transition: all 0.3s ease-in-out;
}

.button > span {
  margin-left: 10px;
}

.button:hover{
  opacity: 0.8;
}

.button-edit, .button-info, .button-delete{
  background-color: transparent;
  border-radius: 50px;
  height: auto;
  padding: 5px 10px;
  color: #bfcad6;

  transition: all 0.2s ease;
}

.button > i{
  transition: all 0.2s ease;
}

.button-save{
  background-color: #10B981;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px ;

}.button-see{
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
}.button-excel{
  background-color: #f97316;
  display: flex;
  align-items: center;
  justify-content: center;
}.button-add{
  background-color: #10B981;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 1;
  padding: 25px;
  transition: 0.2s ease-in-out;
}


.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);  
}

@media screen and (max-width: 768px){
  .home-section{
    position: relative;
    min-height: 100vh;
    top: 100px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 20px;
  }

  .navbar.open ~ .home-section{
    left: 0;
    top: 500px;    
  }
  .page-title > .title-left-side{
    display: none;
  }
  .page-title > .title-right-side > .button > span{
    display: none;
  }
  .page-title > .title-right-side > .button{
    padding: 10px 15px;
  }
  .page-title > .title-right-side > .button > i{
    margin: 0;
  }
}
