.button-excel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    
    border-radius: 5px;
    margin-right: 5px;
    background-color: #209e63;
    
}

.table-pedidos{
    font-size: 14px !important;
}

.estado-aprovado-pedidos{
    padding: 5px 15px;
    border-radius: 50px;
    color: darkgreen;
    background-color: lightgreen;
}

.estado-rejeitado-pedidos{
    padding: 5px 15px;
    border-radius: 50px;
    color: darkred;
    background-color: lightcoral;
}

.estado-pendente-pedidos{
    padding: 5px 15px;
    border-radius: 50px;
    color: #a05b07;
    background-color: #fcb864;
}
.button-edit > i, .button-info > i, .button-delete > i{
    margin: 0;
}

.button-edit:hover, .button-info:hover, .button-delete:hover{
    background-color: #e4e9f7;
}

.button-edit:hover > i {
    color: #695cfe;
}
.button-delete:hover > i {
    color: #ff0000;
}
.button-info:hover > i {
    color: #f78e10;
}

.editPedidoDialog{
    width: 30%;
}


@media screen and (max-width: 768px) {
    .button-excel, .button-vaccation{
        width: auto;
    }
}