.user-profile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
}

.user-profile-left{
    width: 70%;
    height: 100%;
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.user-profile-right{
    margin-left: 10px;
    width: 30%;
    height: 100%;
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

.user-profile-left > h2,
.user-profile-right > h2{
    margin-bottom: 20px;
}

.user-profile-changes > form {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    
}

.user-profile-changes > form > .form-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-profile-changes > form > .form-flex > .form-group{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.user-profile-changes > form > .form-flex > .form-group > .avatar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
}

.user-profile-changes > form > .form-flex > .form-group > .avatar > img{
    padding: 5px;
    width: 100px;
    border: 2px dashed #695cfe;
    border-radius: 50%;
    margin-right: 10px;
}



.user-profile-changes > form > .form-flex > .form-group > label{
    font-size: 15px;
    margin-bottom: 5px;
    color: #9e9e9e;
    vertical-align: middle;
}

.user-profile-changes > form > .form-flex > .form-group > .inputText{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #f5f7fc;
    border-radius: 5px;
}

.user-profile-changes > form > .form-flex > .form-group > .inputText:hover{
    border: 1px solid #695cfe;
}

.user-profile-changes > form > .form-flex-buttons{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-profile-changes > form > .form-flex-buttons > .form-buttons{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-profile-changes > form > .form-flex-buttons > .form-buttons > .button-save{
    margin: 0 5px 0 10px;
    background-color: #4CAF50;
}

.user-profile-notices{
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .user-profile{
        flex-direction: column;
    }
    
    .user-profile-left{
        width: 100%;
    }
    
    .user-profile-right{
        width: 100%;
    }
    .user-profile-changes > form > .form-flex,
    .user-profile-changes > form > .form-flex-buttons > .form-buttons,
    .user-profile-changes > form > .form-flex-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .user-profile-changes > form > .form-flex-buttons > .form-buttons > .button-save{
        width: 100%;
    }
}

.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-right-side > .button-vaccation{
    background-color: #e6be1a;
    color: white;
}

.dialog-faltas{
    width: 40%;
}

.form-dialog{
    display: block;
    padding: 0px;
    border-radius: 10px;
    background-color: white;
}

.form-dialog > label{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #9e9e9e;
    vertical-align: middle;
}

.form-dialog > .form-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.form-dialog > .form-flex > .form-group-radio{
    width: 15%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.form-dialog > .form-flex > .form-group-radio > p{
    font-size: 15px;
    margin-left: 5px;
    color: black;
    vertical-align: middle;
}

.form-dialog > .form-flex > .form-group{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form-dialog > .form-flex > .form-group > label{
    font-size: 15px;
    margin-bottom: 5px;
    color: #9e9e9e;
    vertical-align: middle;
}

.form-dialog > .form-flex-buttons {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.form-dialog > .form-flex-buttons > .form-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.form-dialog > .form-flex-buttons > .form-buttons > .button-save{
    background-color: #4CAF50;
}

table.faltas-table-row{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
}

table.faltas-table-row > thead > tr > th{
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    color: #9e9e9e;
    padding: 10px 0;
}

table.faltas-table-row > tbody > tr > td{
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    color: black;
    padding: 10px 0;
}

table.faltas-table-row > tbody > tr > td > i{
    color: #bfcad6;
    padding: 5px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}

table.faltas-table-row > tbody > tr > td > i:hover{
    background-color: #e4e9f7;
    color: #f78e10;
}

.dialog-box-info-falta{
    width: 40%;
}

.dialog-box-info-content{
    border-radius: 10px;
} 

.dialog-box-info-content > .dialog-box-info-content-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 10px 0;
    border-bottom: 1px solid #e4e9f7;
}

.dialog-box-info-content > .dialog-box-info-content-item > .dialog-box-info-content-item-title{
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #9e9e9e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dialog-box-info-content > .dialog-box-info-content-item > .dialog-box-info-content-item-text{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

table.faltas-table-row > tbody > tr > .estado-pendente{
    color: #a05b07;
}
table.faltas-table-row > tbody > tr > .estado-aprovado{
    color: darkgreen;
}
table.faltas-table-row > tbody > tr > .estado-rejeitado{
    color: darkred;
}

.chip-text {
    display: inline-block;
    background-color: #eee;
    border-radius: 50px;
    padding: 5px 15px;
  }

  table.faltas-table-row > tbody > tr > .estado-pendente > .chip-text{
    background-color: #fcb864;
  }
  table.faltas-table-row > tbody > tr > .estado-aprovado > .chip-text{
    background-color: lightgreen;
  }
  table.faltas-table-row > tbody > tr > .estado-rejeitado > .chip-text{
    background-color: lightcoral;
  }

@media screen and (max-width: 768px) {
    .dialog-faltas{
        width: 80%;
    }
    .form-dialog{
        padding-top: 20px;
    }
    .form-dialog > .form-flex{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .form-dialog > .form-flex > .form-group{
        width: 90%;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .dialog-box-info-falta{
        width: 80%;
    }
    .dialog-box-info-content{
        padding-top: 10px;
    }   

    .user-profile-right{
        margin-left: 0;
    }

    .user-profile{
        flex-direction: column-reverse;
    }

    .page-title{
        flex-direction: column;
        align-items: flex-start;
    }

}